In [1]:
import numpy as np
import pandas as pd
from volby.calc import Calc, Sim
import matplotlib.pyplot as plt
from scipy import stats

In [2]:
seats = {"Praha": 24, "Stredocesky": 26, "Jihocesky": 13, "Plzensky": 11, "Karlovarsky": 5, "Ustecky": 13, "Liberecky": 8, "Kralovehradecky": 11, "Pardubicky": 10, "Vysocina": 10, "Jihomoravsky": 23, "Olomoucky": 12, "Zlinsky": 12, "Moravskoslezky": 22}

In [3]:
# get data from 2017 election
volby_2017 = pd.read_html("https://volby.cz/pls/ps2017/ps61?xjazyk=CZ&xv=1", attrs = {'class': 'table'}, index_col = 0, na_values = ["-"], thousands = "\xa0", encoding = "utf-8", decimal = ",")[0]
volby_2017 = volby_2017.apply(lambda x: x.astype(float), axis=1)
volby_2017 = volby_2017.iloc[np.arange(0,31), np.arange(1,volby_2017.shape[1])]
volby_2017.fillna(0, inplace = True)
volby2017 = volby_2017.to_dict()

In [4]:
v2017 = Calc(n_seats = seats, results = volby2017)
v2017.assign_seats(threshold = 0.05, inplace = False)

,Praha,Stredocesky,Jihocesky,Plzensky,Karlovarsky,Ustecky,Liberecky,Kralovehradecky,Pardubicky,Vysocina,Jihomoravsky,Olomoucky,Zlinsky,Moravskoslezky
1 ODS,5,4,2,2,0,1,1,1,1,1,3,1,1,2
4 ČSSD,1,2,1,1,0,1,0,1,1,1,2,1,1,2
7 STAN,1,2,0,0,0,0,1,0,0,0,1,0,1,0
8 KSČM,1,2,1,1,0,1,0,1,1,1,2,1,1,2
15 Piráti,5,3,1,1,1,1,1,1,1,1,2,1,1,2
20 TOP 09,3,2,1,0,0,0,0,0,0,0,1,0,0,0
21 ANO,6,9,5,5,3,7,4,5,4,4,7,5,4,10
24 KDU-ČSL,1,0,1,0,0,0,0,1,1,1,2,1,1,1
29 SPD,1,2,1,1,1,2,1,1,1,1,3,2,2,3

In [12]:
sim_volby = Sim(n_seats = seats, n_parties=8, threshold = 0.05)
sim_volby.sim()

print("Prc votes {}".format(sim_volby.votes.sum(axis = 1) / np.sum(sim_volby.votes.sum(axis = 1))))
print("Prc seats {}".format(sim_volby.seats.sum(axis = 1) / np.sum(sim_volby.seats.sum(axis = 1))))

Prc votes 0    0.164497
1    0.085827
2    0.104752
3    0.096399
4    0.158334
5    0.172454
6    0.156993
7    0.060744
dtype: float64
Prc seats 0    0.200
1    0.085
2    0.100
3    0.105
4    0.160
5    0.155
6    0.155
7    0.040
dtype: float64